<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommunityToolkit.Diagnostics" version="8.4.0" manuallyInstalled="true" />
  <package id="CommunityToolkit.HighPerformance" version="8.4.0" manuallyInstalled="true" />
  <package id="NAudio.Asio" version="2.2.1" />
  <package id="NAudio.Core" version="2.2.1" />
  <package id="NAudio.Midi" version="2.2.1" />
  <package id="Newtonsoft.Json" version="13.0.3" manuallyInstalled="true" />
  <package id="Octokit" version="13.0.1" manuallyInstalled="true" />
  <package id="Semver" version="2.3.0" manuallyInstalled="true" />
  <package id="System.Collections.Immutable" version="9.0.0" manuallyInstalled="true" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.1.0" manuallyInstalled="true" />
  <package id="NLayer" version="2.0.1" manuallyInstalled="true" />
  <package id="NLayer.NAudioSupport" version="2.0.1" manuallyInstalled="true" />
</packages>